body{
    background-color: rgb(128, 97, 182);
    margin-top: 0px;
}
nav{
    background-color: rgb(19, 77, 255);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    
}
a{
    color: rgb(55, 5, 255);
    text-decoration: none;
    margin: 30px;
    background-color: rgb(58, 17, 75);
    padding: 25px;
    border-radius: 50px;
 }
 h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:rgb(32, 7, 165)
 }
